*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
#main {
  position: relative;
}

:root {
  --tree-gutter: 1rem;
  --flex-size: 20%;
}
/*
  TREE
 */

.tree {
  display: flex;
  min-height: 100vh;
}
.tree__section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 0 var(--flex-size);
  list-style: none;
  margin: 0;
  padding: 0 var(--tree-gutter);
}
.tree__item {
  border: 1px solid red;
  padding: 0.5rem;
  text-align: center;
}
.tree__section:last-child .tree__item {
  border-color: blue;
}
.tree__section:last-child .tree__item:nth-child(odd) {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}
.tree__section:last-child .tree__item:nth-child(even) {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

/*
  CONNECTORS
 */

.connectors {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  pointer-events: none;
  justify-content: space-around;
  overflow: hidden;
}
.connectors__section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 0 var(--flex-size);
  margin: 0;
  padding: 0 var(--tree-gutter);
  list-style: none;
  align-items: flex-end;
}
.connectors__item {
  flex: 1 0 auto;
  width: calc(var(--tree-gutter) * 2);
  transform: translateX(100%);
  position: relative;
}
svg {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  height: 100%;
  /* vector-effect: none;
  vector-effect: non-scaling-stroke; */
}
path {
  stroke-width: 2;
  stroke: black;
  fill: none;
  /* vector-effect: non-scaling-stroke; */
  /* vector-effect: none; */
}
.connectors__section:last-child {
  visibility: hidden;
}
